mpyq==0.2.5
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1745118928160/work/dist/numpy-2.2.5-cp311-cp311-macosx_11_0_arm64.whl#sha256=4ddd35cc12792dffdbcc6eeda012fd391180bef8d4fcd5bb6241940e7269ba65
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1744430506825/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
s2protocol==5.0.14.93333.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
